{
  "presets": ["next/babel"],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "name": "removeAttrs",
              "params": { "attrs": "(data-name)" }
            },
            "cleanupIDs"
          ]
        }
      }
    ],
    [
      // TODO: Improve babel file
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "hash": true
        //"fileName": false,
        //"displayName": false
      }
    ]
  ]
}
